<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
</div>

<div class="field">
  <%= f.label :unit %>
  <%= f.select :unit, options_for_select(%w(kilo teaspoon liter pinch)) %>
</div>
