<div class="row nested-fields">

  <div class="field col-md-4">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field col-md-2">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, min:1, class: "form-control" %>
  </div>

  <div class="field col-md-2">
    <%= f.label :unit %>
    <%= f.select :unit, options_for_select(%w(kilo teaspoon liter pinch cup)), {:include_blank => true}, {:class => "custom-select"} %>
  </div>

  <div class="field col-md-1">
    <%= link_to_remove_association (fa_icon "trash"), f %>
  </div>
</div>
