<% if recipe %>

  <p>
    <h4>
      <%= recipe.title %>
    </h4>
  </p>

  <div class="list-group">
    <div class="list-group-item flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Ingredients</h5>
      </div>

      <ul>
        <% recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %> <%= ingredient.quantity %> <%= ingredient.unit %></li>
        <% end %>
      </ul>
    </div>
    <div class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Steps</h5>
      </div>

      <ol>
        <% recipe.steps.sort_by {|s| s[:order_number]}.each do |step| %>
          <li><%= step.description %></li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="center margin-top">
  <%= link_to "Send me shopping list", random_list_path(:recipe_id => recipe), :remote => true, class: "btn btn-success"%>
  <p id="notice" class="text-success" hidden>
    Message was sent successfully.
  </p>
  </div>  

<% else %>
  <div class="center margin-top">
    <h2>You have no recipes.</h2>
    <h2>Please create some first.</h2>
  </div>
<% end %>