<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Lunch roulette</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto form-inline my-2 my-lg-0">
      <% if current_user %>
        <li class="nav-item active">
          <%= link_to "My recipes", recipes_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "New recipe", new_recipe_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Random recipe", randoms_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Log out", session_path("session"), method: :delete , class: "nav-link"%>
      <% else %>
        <li class="nav-item">
          <%= link_to "Register", new_user_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log in", new_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>