<!DOCTYPE html>
<html>
<head>
  <title>LunchRouletteRuby</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render "layouts/menu" %>

<div class="container" style="padding: 30px">
  <div class="row justify-content-center">
    <% if notice %>
      <p id="notice" class="text-success">
        <%= notice %>
      </p>

    <% end %>
  </div>
  <%= yield %>

</div>

</body>
</html>
